[project]
	description = Change your android phone to surveillance camera
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Animesh Kumar (anismiles)
[access "refs/for/refs/*"]
	read = group user/Animesh Kumar (anismiles)
	push = group user/Animesh Kumar (anismiles)
	label-Code-Review = -2..+2 group user/Animesh Kumar (anismiles)
	label-Verified = -1..+1 group user/Animesh Kumar (anismiles)
	rebase = group user/Animesh Kumar (anismiles)
	removeReviewer = group user/Animesh Kumar (anismiles)
	submit = group user/Animesh Kumar (anismiles)
[access "refs/heads/*"]
	read = group user/Animesh Kumar (anismiles)
	create = group user/Animesh Kumar (anismiles)
	push = +force group user/Animesh Kumar (anismiles)
	pushMerge = group user/Animesh Kumar (anismiles)
[access "refs/tags/*"]
	push = +force group user/Animesh Kumar (anismiles)
	pushTag = group user/Animesh Kumar (anismiles)
	pushSignedTag = group user/Animesh Kumar (anismiles)
